.modal_backdrop {
  background: rgba(0, 0, 0, 0.048);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
}

.modal {
  top: 20%;
  left: 50%;
  position: absolute;
  width: 500px;
  box-shadow: 0px 0px 20px 0px #8e8e8e;
  background: white;
  padding: 20px;
  transform: translate(-50%, -10%);
  z-index: 20;
  border-radius: 5px;
}

.modal--modal_header {

}

.modal--modal_content {}

.modal--modal_actions {
  text-align: end;
  button{
    margin-left: 10px;
  }
}

@media(max-width: 768px){
  .modal{
    width:calc(100% - 50px);
    // background: red;
  }
  .modal_backdrop {
    padding: 0 40px;
  }
}
@media(min-width: 768px){
  .modal{
    width: 700px;
  }
}